.container button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    padding: 2px 20px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin: auto;
    margin-bottom: 80px;
    margin-top: 50px;
    justify-content: center;
}

.block2 {
    flex: 0 0 41%;
    background-color: black;
    color: white;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 30px 20px;
    transition: ease-in-out;
}

.block2:hover {
    border: 3px solid white;
    cursor: grab;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}