body {
    font-family: 'Open sans';
    font-size: 14px;
    font-style: normal;
    padding: 0 0;
    margin: 0 0;
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}

.block {
    flex: 1 0 33%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    margin-bottom: 80px;
    margin-top: 50px;
}

.block2 {
    flex: 0 0 41%;
    background-color: black;
    color: white;
    height: auto;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 30px 20px;
    transition: ease-in-out;
}

.block2:hover {
    border: 3px solid white;
    cursor: grab;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: #4caf50;
    text-decoration: none;
}


/* .block a {
    color: black;
} */

a:hover {
    text-decoration: underline solid 2px !important;
    text-underline-offset: 10px;
}

footer {
    background-color: black;
    height: auto;
    color: white;
    padding: 50px;
}


/*work life page*/

article {
    flex: 0 0 50%;
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 30px;
    max-width: 60%;
}

article p {
    max-width: 300px;
}

nav {
    flex: 0 0 50%;
    background-color: black;
    color: white;
    padding: 30px;
    max-width: 29%;
    text-align: center;
}